body {
  font-family: sans-serif;
}

#canvas {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
}

#screenshot-button {
  position: absolute;
  bottom: 3px;
  right: 3px;
}

#settings {
  position: absolute;
  top: 0;
  left: 0;
  padding: 3px;
  background-color: #00000088;
  z-index: 10;
  color: white;
}
